.card__colors.card__action {
  flex-wrap: wrap;
  margin-right: 0.15rem;
}

.color.card__color {
  margin-top: 0.15rem;
}

.card.color-7 .delete {
  color: #dd5db5;
  background-color: #4e91d1;
}
.color-7 {
  background-color: #4e91d1;
}

.card.color-8 .delete {
  color: #dd5db5;
  background-color: #fc9da8;
}
.color-8 {
  background-color: #fc9da8;
}

.card.color-9 .delete {
  color: #dd5db5;
  background-color: #fecf60;
}
.color-9 {
  background-color: #fecf60;
}

.card.color-10 .delete {
  color: #dd5db5;
  background-color: #ffec8a;
}
.color-10 {
  background-color: #ffec8a;
}

.card.color-11 .delete {
  color: #dd5db5;
  background-color: #70d182;
}
.color-11 {
  background-color: #70d182;
}
